<div class="jumbotron">
  <h1 class="my-big-jumbo-header"><%= my_global_brand %>&#x2605;&#x2605;&#x2605;</h1>
  <h2 class="my-tagline">Your World, Counted!</h2>
  <p>Count what matters to you - like how many times you drank coffee, or the times you saw that owl in your backyard. Whatever it is, it's easy to make a <%= my_global_brand %> page just for that activity. No notebooks to lose, no ugly spreadsheet files that are more for counting cash transactions than hugs and kisses - <%= my_global_brand %> lets you count in style and simplicity.</p>
  <p><%= button_to 'Join Now!', new_user_registration_path, method: "get", class: "btn btn-large btn-primary", id: "join-now-button" %></p>
</div>

<% unless @published_floor_model_activities.blank? %> 
  <div class="row"> 
    <div class="col-md-12">
      <p>Take a look at some of the things our admin is counting:</p>
    </div>
  </div>

    <div class"row">
      <% @published_floor_model_activities.each do |activity| %>
        <div class="col-md-4 col-sm-6 center-block show-1-activity">
          <%= link_to image_tag(activity.image), activity_path(activity) %>
          <br />
          <%= link_to activity.name, activity_path(activity) %>
        </div>
      <% end %>
    </div>
<% end %>
