<div class="authform">
  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <h3>Resend confirmation instructions</h3>
    <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <%= f.submit "Resend confirmation instructions", class: "button" %>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
