<div class="my-breadcrumbs"><%= render_breadcrumbs %></div>

<div class="row row-centered">

  <div class="col-md-3"></div>

  <div class="col-md-6">

    <div class="row row-centered one-stamp-display my-<%= @stamp.icon %>">
      <%= fa_icon "#{@stamp.icon} 3x" %>
    </div>

    <div class="row row-centered one-stamp-display">
      <p>This notch was added <%= distance_of_time_in_words(Time.now, @stamp.created_at) %> ago</p>
    </div>
    <% if @activity.user == current_user %> 
      <div class="row row-centered one-stamp-display">
        <%= button_to "Delete This Notch!", {controller: "stamps", action: "destroy"}, method: "delete", class: "btn", id: "my-btn-danger"%>
      </div>
    <% end %> 

    <div class="col-md-3"></div>

  </div>

</div>




