.stamp-datetime-display {
  text-align: center;
  display: block;
  font-size: small;
}

#user_time_zone {
  color: black;
}

.other-form-content {
  padding-bottom: 45px;
  max-width: 360px; 
  margin: 0 auto;
}

.activity-display-image {
  display: block;
  margin-left: auto;
  margin-right: auto; 
  /* margin-bottom: 20px; */
}

.sticker-collection-area {
  border-radius: 6px;
  color: black;
  background-color: #e3e3e3;
  padding: 5px;
  display: inline-block;
}

.cancel-save-area {
  text-align: right;
  line-height: 30px;
  margin-top: 30px;
}

#cancel-edit-activity-link {
  color: #428BCA;
  margin-right: 25px;
}

.current-image {
  margin-bottom: 10px;
}

#my-btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

#my-btn-danger:hover, #my-btn-danger:focus, #my-btn-danger:active, #my-btn-danger.active, .open .dropdown-toggle.btn-danger {
  color: #fff;
  background-color: #d2322d;
  border-color: #ac2925;
}

#my-btn-danger:active, #my-btn-danger.active, .open .dropdown-toggle.btn-danger {
  background-image: none;
}

/* http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-centered-columns */

/* centered columns styles */
.row-centered {
  text-align:center;
}

.col-centered {
  display:inline-block;
  float:none;
  /* reset the text-align */
  text-align:left;
  /* inline-block space fix */
  margin-right:-4px;
}

.one-stamp-display {
  margin-top: 10px;
}

.col-max {
  /* custom max width */
  max-width:320px;
}

.my-right-button {
  float: right !important;
}

.delete-activity-area {
  /** This additional styling makes it match with devise's 
   * forms
   **/
  max-width: 360px;
  margin: 0 auto; /** I think this is for centering **/

}
#delete-activity-area-well {
  /** This is essentially the original bootstrap code, 
   * but I put it here again cuz my theme was overriding well
   **/
  background-image: -webkit-linear-gradient(top, #e8e8e8 0%, #f5f5f5 100%);
  background-image:         linear-gradient(to bottom, #e8e8e8 0%, #f5f5f5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8e8e8', endColorstr='#fff5f5f5', GradientType=0);
  background-repeat: repeat-x;
  border-color: #dcdcdc;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .05), 0 1px 0 rgba(255, 255, 255, .1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .05), 0 1px 0 rgba(255, 255, 255, .1);
}

#my-well {
  /** This is essentially the original bootstrap code, 
   * but I put it here again cuz my theme was overriding well
   **/
  background-image: -webkit-linear-gradient(top, #e8e8e8 0%, #f5f5f5 100%);
  background-image:         linear-gradient(to bottom, #e8e8e8 0%, #f5f5f5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8e8e8', endColorstr='#fff5f5f5', GradientType=0);
  background-repeat: repeat-x;
  border-color: #dcdcdc;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .05), 0 1px 0 rgba(255, 255, 255, .1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .05), 0 1px 0 rgba(255, 255, 255, .1);
}

#cancel-delete-activity-link {
  color: #428BCA;
  margin-right: 25px;
}

.cancel-delete-area {
  text-align: right;
  line-height: 35px; /** I don't know why this is 35, instead of 30 like the other one **/
}

.my-error {
  /** color: #d43f3a; **/
  color: red;
}

#activity-form-error-title {
  color: red; 
}

.show-1-activity {
  text-align: center;
  margin-bottom: 20px;
}

#your-act-title {
  text-align: center;
}

#main-activity-title {
  text-align: center;
}

#new-activity-link {
  text-align: center;
}

#join-now-button {
 float: right;
}

.my-star {
  color: yellow;
  text-shadow: 1px 1px 1px #ccc;
}

.my-heart {
  color: red;
  text-shadow: 1px 1px 1px #ccc;
}

.my-check-square {
  color: purple;
  text-shadow: 1px 1px 1px #ccc;
}

.my-leaf {
  color: green;
  text-shadow: 1px 1px 1px #ccc;
}

.one-activity {
  margin: 20px 0px 20px 0px;
}

.one-mark {
  margin: 5px 0px 5px 0px;
}

.my-footer {
  margin-top: 50px;
}

.my-jumbo-headers {
  text-align: center;
}

.activity-display-description {
  display: block;
  margin-left: auto;
  margin-right: auto; 
  max-width: 256px; /** This width matches the image width that is above it on the page **/
}

.mark-it-button-area {
  text-align: center;
  line-height: 144px;
  vertical-align: middle;
  /** 
   * http://stackoverflow.com/questions/8865458/how-to-align-text-vertically-center-in-div-with-css
   **/
}

.debug {
  border: 1px solid red;
}
