$my-brand-font: 'Gabriela', serif; 
$my-font: 'ABeeZee', sans-serif;
@import url(http://fonts.googleapis.com/css?family=Gabriela);
@import url(http://fonts.googleapis.com/css?family=ABeeZee);

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: $my-font;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

.my-big-jumbo-header {
  font-family: $my-brand-font;
  text-align: center;
  font-style: italic;
}

.my-tagline {
  text-align: center;
}

body {
  font-family: $my-font;
  font-size: 14px;
  line-height: 1.42857143;
  color: #ffffff;
  background-color: #108a93;
}

.navbar-brand {
  font-family: $my-brand-font;
  font-style: italic;
}

legend {
  font-family: $my-font;
  color: #fff;
}
