<div class="authform">
  <h3><%= header %></h3>
  <%= form_for(@activity, role: 'form') do |f| %> 
    <% if activity.errors.any? %>
      <div class="alert alert-block">
        <h4 id="activity-form-error-title">NO save because <%= pluralize(activity.errors.count, "error") %> occurred.</h4>
        <ul class="my-error">
          <% activity.errors.full_messages.each do |msg| %> 
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area(:description, rows: 8, class: 'form-control', value: (activity.description || "The number of times...")) %> 
    </div>

    <div class="current-image">
      Current image<br />
      <%= image_tag(asset_path(activity.image.thumb)) %>
    </div>

    <div class="form-group">
      <%# image_tag(asset_path(activity.image.thumb)) if activity.image? %>
      <%= f.label :image, class: 'control-label' %> 
      <div class="controls"> 
        <%= f.file_field :image %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :default_stamp_icon, "Default Notch Icon", class: 'control-label' %><br />
      (will be applied to new notches)<br />

      <%= f.radio_button :default_stamp_icon, 'star', :checked => true %> 
      <%= f.label :default_stamp_icon, fa_icon("star 3x"), value: 'star', class: 'my-star' %>
      &nbsp;&nbsp;&nbsp;
      <%= f.radio_button :default_stamp_icon, 'heart' %>
      <%= f.label :default_stamp_icon, fa_icon("heart 3x"), value: 'heart', class: 'my-heart' %>
      &nbsp;&nbsp;&nbsp;
      <%= f.radio_button :default_stamp_icon, 'check-square' %>
      <%= f.label :default_stamp_icon, fa_icon("check-square 3x"), value: 'check-square', class: 'my-check-square' %>
      &nbsp;&nbsp;&nbsp;
      <%= f.radio_button :default_stamp_icon, 'leaf' %>
      <%= f.label :default_stamp_icon, fa_icon("leaf 3x"), value: 'leaf', class: 'my-leaf' %>
    </div>

    <% if current_user.role == 'floor_model_user' %>
      <div class="form-group">
        <%= f.label :public_access, class: 'control-label' %><br /> 
        <%= f.check_box :public_access %> check to let everyone see the activity
      </div>
    <% end %>

    <div class="form-group cancel-save-area">
      <div class="controls">
        <%= f.submit button_text, class: "button right" %>
        <%= link_to "Cancel", :back, id: "cancel-edit-activity-link" %>
      </div>
    </div>

  <% end %>
</div>
