    <table class="table">
      <tr>
        <td>Total Notches</td>
        <td id='total-stamps-value'><%= stamps.count %></td>
      </tr>
      <tr>
        <td>Last Marked</td>
        <td id='last-stamped-value'><%= time_ago(stamps.last) %></td>
      </tr>
      <tr>
        <td>First Marked</td>
        <td id='first-stamped-value'><%= first_stamped(stamps) %></td>
      </tr>
    </table>
