<% stamps.order('created_at DESC').each do |stamp| %> 
  <div class="col-xs-4 col-sm-2 center-block">
    <div class="one-mark">
      <div class="row center-block">
        <span class="stamp-datetime-display my-<%= stamp.icon %>">
          <%= link_to fa_icon("#{stamp.icon} 3x"), activity_stamp_path(activity, stamp), class: "my-"+ stamp.icon.to_s %>
        </span>
      </div>

      <div class="row center-block">
        <% t = stamp.created_at %>
        <span class="stamp-datetime-display">
          <%= t.strftime("%m/%d") %><br />
          <%= t.strftime("%l:%M%P") %>
        </span>
      </div>
    </div>

  </div>
<% end %> 
