<div class="my-breadcrumbs"><%= render_breadcrumbs %></div>
<div class="container">
  <div class="delete-activity-area">
    <h3>Delete "<%= @activity.name %>"</h3>
    <p>Do you want to delete this activity? This action cannot be undone.</p>
    <div class="well well-lg", id="delete-activity-area-well">
      <div class="cancel-delete-area">
      <%= button_to "Delete This Activity", {controller: "activities", action: "destroy"}, method: "delete", class: 'btn btn-large my-right-button', id: 'my-btn-danger' %>
      <%= link_to "Cancel", :back, id: "cancel-delete-activity-link" %>
    </div>
    </div>
  </div>
</div>
