<div class="my-breadcrumbs"><%= render_breadcrumbs %></div>
<%= render partial: 'form', locals: { activity: @activity, button_text: "Save", header: "Settings for Your Activity"} %>
<div class="other-form-content"> 
  <h3>Delete This Activity</h3>
  <%= link_to "Delete This Activity", delete_activity_page_path(@activity), method: :get %> 
</div>
