<div class="row">
  <h1 id="main-activity-title">Activities</h1>
</div>
<% if @activities.count == 0 %> 
  <p>You don't have any activities yet!</p>
  <div class="row">
    <%= link_to "Create A New Activity", new_activity_path, id: "new-activity-link" %>
  </div>
<% else %> 
  <div class="row">
    <p id="new-activity-link"><%= link_to "Create A New Activity", new_activity_path %></p>
  </div>

  <div class="row"> 
    <h2 id="your-act-title">Your Activities</h2>
  </div>

  <div class"row">
    <% @activities.each do |activity| %>
      <div class="col-md-4 col-sm-6 center-block show-1-activity">
        <%= link_to image_tag(activity.image), activity_path(activity) %>
        <br />
        <%= link_to activity.name, activity_path(activity) %>
      </div>
    <% end %>
  </div>

</div>
<% end %>
</div>

