<div class="my-breadcrumbs"><%= render_breadcrumbs %></div>
<div class="container-fluid one-activity"> 
  <div class="row">
    <div class="col-md-2 col-sm-0"></div>

    <div class="col-md-4 col-sm-6">
      <%= image_tag(@activity.image, class: "activity-display-image", id: "activity-image") %> 
    </div>   

    <div class="col-md-4 col-sm-6">
      <%= render partial: 'metrics', locals: { activity: @activity, stamps: @stamps } %> 
    </div>

    <div class="col-md-2 col-sm-0"></div>

  </div>

  <div class="row">

    <div class="col-md-2 col-sm-0"></div>

    <div class="col-md-4 col-sm-6">
      <div class="activity-display-description">
        <h1><%= @activity.name %></h1>
        <p><%= @activity.description %></p>
        <% if policy(@activity).own? %>
          <p><%= link_to "Edit Activity Settings", edit_activity_path %></p>
          <% end %>
      </div>
    </div>   

    <% if @activity.user == current_user %> 
      <div class="col-md-4 col-sm-6 mark-it-button-area">
          <%= button_to "Mark This Activity!", {controller: "activities", action: "stamp_create"}, method: "post", class: "btn btn-primary btn-lg" %>
      </div>
    <% end %> 
    
    <div class="col-md-2 col-sm-0"></div>

  </div>

  <div class="row">
    <div class="col-md-2 col-sm-0 col-xs-0"></div>
    <div class="col-md-8 col-sm-12 col-xs-12 sticker-collection-area">
      <% if @stamps[0] != nil %>
        <%= render partial: 'stamp_layout', locals: { activity: @activity, stamps: @stamps } %> 
      <% else %> 
        <% if @activity.user == current_user %> 
          You haven't marked this activity yet! Mark it now by pressing the 'Add Mark!' button!
        <% end %> 
      <% end %> 
    </div>
    <div class="col-md-2 col-sm-0 col-xs-0"></div>
  </div>

</div>

