<!DOCTYPE html>
<html>
  <head>
    <title><%= my_global_brand %></title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow">
  </head>
  <body>
    <header>
    <%= render 'layouts/navigation' %> 
    </header>

    <main role="main">
    <div class="container">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
    </main>
    <div class="my-footer">
    <hr>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <p class="muted pull-right">© <%= Time.now.year %> <%= my_global_brand %>. All rights reserved</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
